/.idea/
/.gradle/
/build/classes/java/
/build/libs/
/build/libs/GitGradleHandling-1.0-SNAPSHOT.jar
/build/reports/tests/test/
/build/reports/tests/test/classes/
/build/reports/tests/test/css/
/build/reports/tests/test/js/
/build/reports/tests/test/packages/
/build/reports/tests/test/index.html
/build/test-results/test/
/build/test-results/test/binary/
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/test-results/test/binary/results.bin
/build/test-results/test/TEST-TestShapesTest.xml
/build/tmp/
